
div {
    font-weight: bold;
    font-family: "Monaco", monospace;
    text-align: center;
}

    .webpage-title {
        background-color:#34eb83;
        padding: 20px;
        border: 5px solid #e83861;
        box-sizing: border-box;
        font-size: 24px;
        color: #e83861;
    }

    .recipe-title {
        color: #d60d38;
        background-color: #9cffb6;
        margin-left: 500px;
        margin-right:500px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .recipe-links {
        background-color: #34eb83;
        padding: 10px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }




img {
    height: auto;
     width: 300px
}

